body{
    background: rgb(49,70,67);
}

h1{
    font-family: Consolas, monaco, monospace;
    color: rgb(208, 208, 208);
    text-align: center;
}
.parent {
    position: relative;
    height: 100vh; /* Adjust the height as needed */
    text-align: center; /* Center text */
  }
  
  /* Center the GIF specifically */
  .gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  